<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <ul
    class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
    id="accordionSidebar"
    style="position: fixed; height: 100vh; width: 250px; top: 0; left: 0"
  >
    <!-- Sidebar - Brand -->
    <a
      class="sidebar-brand d-flex align-items-center justify-content-center"
      href="/admin"
    >
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Dashboard</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" />

    <!-- Nav Item - Product -->
    <div
      class="sidebar"
      style="
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding-left: 10px;
      "
    >
      <ul
        class="nav flex-column"
        style="flex-grow: 1; list-style: none; padding-left: 0; margin: 0"
      >
        <li class="nav-item">
          <a
            class="nav-link"
            href="/admin/products"
            style="display: flex; align-items: center; font-size: 1.2rem"
          >
            <i
              class="fas fa-cube fa-tachometer-alt"
              style="margin-right: 15px; font-size: 1.5rem"
            ></i>
            <span>Produk</span>
          </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" style="margin: 0" />

        <!-- Heading -->
        <div class="sidebar-heading" style="font-size: 1.2rem; margin: 20px 0">
          Addons
        </div>

        <!-- Nav Item - Kategori -->
        <li class="nav-item">
          <a
            class="nav-link"
            href="/admin/categories"
            style="display: flex; align-items: center; font-size: 1.2rem"
          >
            <i
              class="fas fa-list fa-chart-area"
              style="margin-right: 15px; font-size: 1.5rem"
            ></i>
            <span>Kategori</span>
          </a>
        </li>

        <!-- Nav Item - Brand -->
        <li class="nav-item">
          <a
            class="nav-link"
            href="/admin/brands"
            style="display: flex; align-items: center; font-size: 1.2rem"
          >
            <i
              class="fas fa-registered fa-table"
              style="margin-right: 15px; font-size: 1.5rem"
            ></i>
            <span>Brand</span>
          </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" style="margin: 0" />
        <hr class="sidebar-divider" style="margin: 0" />
        <hr class="sidebar-divider" style="margin: 0" />
        <hr class="sidebar-divider" style="margin: 0" />

        <!-- Nav Item - Log Out -->
        <li class="nav-item">
          <a
            class="nav-link"
            href="#!"
            (click)="logout()"
            style="display: flex; align-items: center; font-size: 1.2rem"
          >
            <i
              class="fas fa-sign-out-alt"
              style="margin-right: 15px; font-size: 1.5rem"
            ></i>
            <span>Log Out</span>
          </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider" style="margin: 0" />
        <hr class="sidebar-divider" style="margin: 0" />
        <hr class="sidebar-divider" style="margin: 0" />
        <hr class="sidebar-divider" style="margin: 0" />
      </ul>
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block" />
  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div
    id="content-wrapper"
    class="d-flex flex-column"
    style="margin-left: 225px; flex-grow: 1"
  >
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <nav
        class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
      >
        <!-- Sidebar Toggle (Topbar) -->
        <button
          id="sidebarToggleTop"
          class="btn btn-link d-md-none rounded-circle mr-3"
        >
          <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="userDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                >Admin</span
              >
              <img
                class="img-profile rounded-circle"
                src="assets/img/undraw_profile.svg"
              />
            </a>
          </li>
        </ul>
      </nav>
      <!-- End of Topbar -->

      <main>
        <router-outlet></router-outlet>
      </main>
      <!-- Footer -->

      <!-- End of Footer -->
    </div>

    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; LCI Group 2025</span>
        </div>
      </div>
    </footer>
  </div>
</div>
<!-- End of Page Wrapper -->
