<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  </div>

  <!-- Content Row -->
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-primary text-uppercase mb-1"
              >
                Earnings (Monthly)
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-success text-uppercase mb-1"
              >
                Earnings (Annual)
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-info text-uppercase mb-1"
              >
                Tasks
              </div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                    50%
                  </div>
                </div>
                <div class="col">
                  <div class="progress progress-sm mr-2">
                    <div
                      class="progress-bar bg-info"
                      role="progressbar"
                      style="width: 50%"
                      aria-valuenow="50"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-warning text-uppercase mb-1"
              >
                Pending Requests
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />
  <section id="about" style="padding: 40px 20px; text-align: center">
    <div style="max-width: 800px; margin: 0 auto; color: #343a40">
      <h2
        style="
          margin-bottom: 20px;
          font-family: Arial, sans-serif;
          font-size: 28px;
          color: #5a5c69;
          display: inline-block;
          border-bottom: 2px solid #5a5c69;
          padding-bottom: 5px;
        "
      >
        LCI Group
      </h2>
      <p
        style="
          font-size: 18px;
          line-height: 1.6;
          font-family: Arial, sans-serif;
          color: #6c757d;
        "
      >
        Nama kelompok kami berasal dari nama buah, yaitu Leci. Agar unik dan
        aesthetic, kami menghilangkan huruf "E" nya sehingga terbentuk lah
        "LCI". Tentunya sangat banyak pertanyaan yang ditujukan kepada kami,
        tentang apa kepanjangan "LCI" itu. Tentu saja kami jawab dengan "Leci
        tanpa E", dan mereka akan tertawa. Nama yang unik dan mudah diingat,
        itulah yang kami cari. Kelompok kami sudah berdiri dari semester 2 di
        Universitas Multi Data Palembang. Sudah lebih dari 10 tugas kelompok
        yang dikerjakan di bawah naungan nama "LCI". Mulai dari tugas kelompok
        tentang kemanusiaan, analisis, hingga pemrograman, pemrograman web, dan
        pemrograman mobile, semua bisa kami kerjakan.
      </p>
    </div>
  </section>
  <hr />

  <section style="padding: 40px 20px; text-align: center">
    <h1
      style="
        margin-bottom: 10px;
        font-family: Arial, sans-serif;
        font-size: 28px;
        color: #5a5c69;
        display: inline-block;
        border-bottom: 2px solid #5a5c69;
        padding-bottom: 5px;
      "
    >
      Meet Our Team
    </h1>
  </section>

  <section id="group" style="background-color: #f8f9fa; padding: 20px">
    <div style="max-width: 1200px; margin: auto">
      <!-- Jessica -->
      <div style="display: flex; margin-bottom: 40px; align-items: center">
        <div style="flex: 1; text-align: center">
          <img
            src="assets/img/foto.png"
            alt="Jessica Valencia"
            style="width: 45%; border-radius: 15px"
          />
        </div>
        <div
          style="
            flex: 1;
            padding-left: 15px;
            position: relative;
            text-align: justify;
          "
        >
          <div
            style="
              position: absolute;
              left: -15px;
              top: 0;
              height: 100%;
              width: 4px;
              background-color: #3a766e;
            "
          ></div>
          <h3 style="font-family: Arial, sans-serif">Jessica Valencia</h3>
          <p style="color: rgba(108, 117, 125, 0.6); font-size: 16px">
            jessicavalenciaputribudiman_2226240090&#64;mhs.mdp.ac.id
          </p>
          <p
            style="
              color: #6c757d;
              font-size: 18px;
              font-family: Arial, sans-serif;
            "
          >
            Saya adalah mahasiswa berusia 20 tahun semester 5 Universitas MDP
            yang sangat haus akan pengetahuan. Hobi saya adalah semua kegiatan
            yang berkaitan dengan alam, hewan, pengetahuan, dan music. Saya
            selalu percaya bahwa semua hal punya waktunya tersendiri. Tuhan
            telah menyiapkan yang terbaik baik kita.
          </p>
        </div>
      </div>

      <!-- Cyndi -->
      <div
        style="
          display: flex;
          margin-bottom: 40px;
          align-items: center;
          flex-direction: row-reverse;
        "
      >
        <div style="flex: 1; text-align: center">
          <img
            src="assets/img/cyn.png"
            alt="Cyndi Claudia Wang"
            style="width: 45%; border-radius: 15px"
          />
        </div>
        <div
          style="
            flex: 1;
            padding-right: 15px;
            position: relative;
            text-align: justify;
          "
        >
          <div
            style="
              position: absolute;
              right: -15px;
              top: 0;
              height: 100%;
              width: 4px;
              background-color: #3a766e;
            "
          ></div>
          <h3 style="font-family: Arial, sans-serif">Cyndi Claudia Wang</h3>
          <p style="color: rgba(108, 117, 125, 0.6); font-size: 16px">
            cyndiclaudiawang_2226240125&#64;mhs.mdp.ac.id
          </p>
          <p
            style="
              color: #6c757d;
              font-size: 18px;
              font-family: Arial, sans-serif;
            "
          >
            Saya adalah mahasiswa berusia 19 tahun semester 5 Universitas MDP
            jurusan Sistem Informasi. Cita-cita saya adalah membangun tempat
            bermain untuk anjing di Palembang. Hobby saya adalah memelihara
            anjing dan mempunyai banyak uang untuk membangun 1 shelter hewan
            yang dapat menyelamatkan hewan-hewan.
          </p>
        </div>
      </div>

      <!-- Fiolin -->
      <div style="display: flex; margin-bottom: 40px; align-items: center">
        <div style="flex: 1; text-align: center">
          <img
            src="assets/img/fio.png"
            alt="Fiolin Meldy"
            style="width: 45%; border-radius: 15px"
          />
        </div>
        <div
          style="
            flex: 1;
            padding-left: 15px;
            position: relative;
            text-align: justify;
          "
        >
          <div
            style="
              position: absolute;
              left: -15px;
              top: 0;
              height: 100%;
              width: 4px;
              background-color: #3a766e;
            "
          ></div>
          <h3 style="font-family: Arial, sans-serif">Fiolin Meldy</h3>
          <p style="color: rgba(108, 117, 125, 0.6); font-size: 16px">
            fiolinmeldygraciella_2226240061&#64;mhs.mdp.ac.id
          </p>
          <p
            style="
              color: #6c757d;
              font-size: 18px;
              font-family: Arial, sans-serif;
            "
          >
            Saya adalah mahasiswa semester 5 jurusan Sistem Informasi di
            Universitas MDP. Saat ini saya berusia 20 tahun. Saya suka bermain
            dan bercerita dengan anak-anak. Saya juga sangat suka melakukan
            hal-hal yang belum pernah saya lakukan dan mengeksplor hal-hal baru
            di luar akademik, seperti memotret dan travelling. Saya terus
            berusaha untuk belajar dari setiap pengalaman.
          </p>
        </div>
      </div>

      <!-- Benny -->
      <div
        style="
          display: flex;
          margin-bottom: 40px;
          align-items: center;
          flex-direction: row-reverse;
        "
      >
        <div style="flex: 1; text-align: center">
          <img
            src="assets/img/ben.jpg"
            alt="Benny Candra"
            style="width: 45%; border-radius: 15px"
          />
        </div>
        <div
          style="
            flex: 1;
            padding-right: 15px;
            position: relative;
            text-align: justify;
          "
        >
          <div
            style="
              position: absolute;
              right: -15px;
              top: 0;
              height: 100%;
              width: 4px;
              background-color: #3a766e;
            "
          ></div>
          <h3 style="font-family: Arial, sans-serif">Benny Candra</h3>
          <p style="color: rgba(108, 117, 125, 0.6); font-size: 16px">
            bennycandra_2226240031&#64;mhs.mdp.ac.id
          </p>
          <p
            style="
              color: #6c757d;
              font-size: 18px;
              font-family: Arial, sans-serif;
            "
          >
            Saya adalah mahasiswa mdp berusia 20 tahun saya tinggal di kota
            Palembang, talang jambe jalan lebak sari no 124. hobi saya adalah
            bermain game online dan juga bermain basket dan bulu tangkis.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
